extends layout.pug

block title
    title TP Node - Home

block content
    ul
        //- if users array doesn't exist or if it is empty, show a msg
        if !users || users.length === 0
            p.no-user-msg Aucun utilisateur enregistré. 
        else
            each user in users
                li= user.name
                li= user.birth