doctype html
html(lang="fr")
    head
        meta(charset="UTF-8")
        block title

        link(rel="stylesheet" href="../assets/styles.css")
        block styles

    body
        header
            include nav.pug
        main.container
            block content
            
        script(src="https://polyfill.io/v3/polyfill.min.js")    
        block scripts