extends layout.pug

block scripts

    script. 
        //- script to delete students
        document.addEventListener('DOMContentLoaded', () => {
            const deleteBtns = document.querySelectorAll('.delete-student-btn');
            deleteBtns.forEach(btn => {
                btn.addEventListener('click', (e) => {
                    console.log('clicked', e.target.dataset)
                })
            });
        });


block title
    title TP Node - Students
block content
    h2 Students
    ul.student-list
        //- if students array doesn't exist or if it is empty, show a msg
        if !students || students.length === 0
            p.no-student-msg No student registered yet. 
        else
            each student, index in students
                li.student-list-item= `${index + 1} - Name: ${student.name} - Birthdate: ${formatDate(student.birth)}`
                    button.delete-student-btn(data-studentIndex = index) Delete student