extends layout.pug

block title
    title TP Node - Students
block content
    h2 Students
    //- if students array is empty, show a message and invite user to add a new student
    if !students || students.length === 0
        p.no-student-msg No student registered yet.
        a.go-back-home(href="/") Add a new student
    else
    ul.student-list
        each student, index in students
            li.student-list-item= `${index + 1} - Name: ${student.name} - Birthdate: ${formatDate(student.birth)}`
                a.delete-student-btn(href=`/students/delete/${student.name}`) Delete student