* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Verdana, 'Times New Roman', Times, serif;
  background-color: rgba(10, 10, 10, 0.95);
}

.navbar,
.container {
  display: flex;
}

/* ----- Navbar ----- */

.navbar {
  justify-content: center;
  flex-direction: row;
  padding: 2rem 0;
  gap: 3rem;
}

.navbar-item {
  transition: all 200ms ease-in-out;
  border: 2px solid transparent;
  padding: 0.5rem 1.2rem;
  list-style-type: none;
  border-radius: 12px;
  font-size: 1.2rem;
  cursor: pointer;

  &:hover {
    border-color: rgba(220, 220, 220, 0.9);
  }
}

.navbar-link {
  color: rgba(220, 220, 220, 0.9);
  text-decoration: none;
}

/* change styles  if the current page is active */
.navbar-item.active {
  > .navbar-link {
    text-decoration-thickness: 2px;
    text-underline-offset: 0.7rem;
    text-decoration: underline;
    color: rgb(36, 157, 82);
  }
  &:hover {
    border-color: rgb(36, 157, 82);
    > .navbar-link {
      text-decoration: none;
    }
  }
}

/* ----- Container ----- */
.container {
  flex-direction: column;
  align-items: center;
}

.container li {
  color: rgba(220, 220, 220, 0.9);
}
