* {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: Verdana, 'Times New Roman', Times, serif;
  background-color: rgba(10, 10, 10, 0.95);
}

.navbar,
.container,
.not-found-container {
  display: flex;
}

.navbar-link,
.container li,
h2,
.go-back-home {
  color: rgba(220, 220, 220, 0.9);
}

button {
  background-color: rgba(171, 78, 78, 0.995);
  padding: 0.25rem 1.2rem;
  font-weight: 600;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid transparent;
}

/* ----- Navbar ----- */

.navbar {
  justify-content: center;
  flex-direction: row;
  padding: 2rem 0;
  gap: 3rem;
}

.navbar-item {
  transition: all 200ms ease-in-out;
  border: 2px solid transparent;
  padding: 0.5rem 1.2rem;
  border-radius: 12px;
  font-size: 1.2rem;
  cursor: pointer;

  &:hover {
    border-color: rgba(220, 220, 220, 0.9);
  }
}

.navbar-link,
.go-back-home {
  text-decoration: none;
}

/* change styles  if the current page is active */
.navbar-item.active {
  > .navbar-link {
    text-decoration-thickness: 2px;
    text-underline-offset: 0.7rem;
    text-decoration: underline;
    color: rgb(36, 157, 82);
  }
  &:hover {
    border-color: rgb(36, 157, 82);
    > .navbar-link {
      text-decoration: none;
    }
  }
}

/* ----- Container ----- */
.container {
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.no-student-msg {
  color: rgba(222, 53, 53, 0.9);
}

.not-found-container {
  padding: 50px;
  gap: 50px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.go-back-home {
  border: 1px solid rgba(220, 220, 220, 0.9);
  transition: all 200ms ease-in-out;
  padding: 0.5rem 1.2rem;
  border-radius: 12px;
  font-size: 1.2rem;

  &:hover {
    border-color: rgb(36, 157, 82);
    color: rgb(36, 157, 82);
  }
}

.student-list-item {
  padding: 2rem;
}
